body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border: none;
  border-radius: 1rem;
}

form .form-control {
  border-radius: 0.5rem;
}

.btn {
  border-radius: 0.5rem;
}
