<div class="container mt-4">
<!-- <a [routerLink]="['/courses']" class="btn btn-outline-primary me-2" style="float: right;">Back To Course </a> -->
<div class="container mt-4" *ngIf="course" aos data-aos="fade-up">
  <div class="header-container">
    <h2>{{ course.title }}</h2>
    <button class="btn btn-outline-secondary" (click)="goToCoursePage()" data-aos="fade-right">
      Back to Courses
    </button>
  </div>
  <p><strong>Department:</strong> {{ course.department }}</p>
  <p>{{ course.description }}</p>
  <hr />
  <h4>Modules</h4>
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let module of course.modules"
    >
      {{ module.title }}
      <input type="checkbox" [checked]="module.completed" disabled />
    </li>
  </ul>
</div>
</div>
<div *ngIf="!course" class="text-center mt-5">
  Loading course details...
</div>
