<div class="container-fluid bg-primary shadow-sm fixed-top" >
  <div class="row">
    <div class="col-md-8">
      <nav class="nav">
        <ul class="navbar nav navbar-expand-lg ps-3">
          <h1 class="text-white">Q_Learn Admin</h1>
          <li class="nav-item"><a routerLink="/principal-dashboard" class="nav-link text-dark fw-bold text-white">Dashboard</a></li>
          <li class="nav-item"><a routerLink="/trainers" class="nav-link text-dark fw-bold text-white">Trainers</a></li>
          <li class="nav-item"><a routerLink="/course" class="nav-link text-dark fw-bold text-white">All Courses</a></li>
           <li class="nav-item"><a routerLink="/student-data" class="nav-link text-dark fw-bold text-white">Students</a></li>
       <!--    <li class="nav-item"><a routerLink="/approval-list" class="nav-link text-dark fw-bold text-white">Requested Courses</a></li>
       -->  </ul>
      </nav>
    </div>
    
    <div class="col-md-3"></div>
    
    <div class="col-md-1 text-end text-center mt-2">
          <div class="col-md-1 text-end text-center mt-2">
 
       <button class="btn btn-primary btn-sm rounded-pill  mt-2" (click)="logout()">
        Logout
        </button>
    </div>
  </div>
</div>